.router{
    font-size: 100px;
    cursor: pointer;
}

.active{
    color:greenyellow;
    background-color: #fff;
    font-size: 25px;
    appearance: none;
    background-color: transparent;
    border: 0.125em solid greenyellow;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 1.8em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    box-shadow:
    inset 60px 0 120pxf greenyellow,  /* left magenta */
    inset -60px 0 120px greenyellow ; /* right cyan */
}

a{
color: black;
text-decoration: none;
}