.audio-player-banner {
    height: 144px;
    width: 100%;
    position: auto;
    bottom: 0;
    background: rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#non-img-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100vw - 144px);
}

#current-episode-img {
    height:144px;
}

#current-episode-description {
    font-size:smaller;
}

#description-container {
    max-width: 20rem;
    max-height: 144px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.controls {
    height: 8vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.controls svg {
    padding: 1vh;
}

#current-episode {
    margin: 1vh;
}
#current-episode-author {
    margin: 1vh;
}
