.filteredSearch {
  /* this is the parent */
  display: flex;
  justify-content: center;
  position: relative;
  top: 15px;
}
.inputAndButton {
  position: fixed;
}
.inputAndButton > input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  margin-right: 15px;
  flex: 2px;
}
.searchButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0rem;
  cursor: pointer;
}
.searchResults {
  display: flex; /* use a flexbox layout */
  flex-wrap: wrap; /* wrap items to the next row */
  margin-top: 5rem;
}
